# Quiz 1

### 1. 데이터 셋을 아래의 주소에서 읽어온다.
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [3]:
import pandas as pd
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
    sep='|', index_col='user_id')

### 2. 25 entries 까지 읽어온다.

### 3. column 이름은 무엇인가?

### 4. users dataframe의 모든 column을 통계적으로 요약하여라.

### 5. occupation(직업)별 평균 나이(age)는?

### 6. occupation(직업)별로, 나이(age)의 최소값, 최대값을 구하여라.

### 7. 직업(occupation)과 성별(gender)에 따른 평균 나이(age)를 구하여라.

# Quiz 2

### 1. 아래의 Series 3개를 생성하라.
 - 1 ~ 4(4포함)에서 임의의 정수를 100개를 data로 가지고 있는 s1
 - 1 ~ 3(3포함)에서 임의의 정수를 100개를 data로 가지고 있는 s2
 - 10000 ~ 30000(30000포함)에서 임의의 정수를 100개를 data로 가지고 있는 s3

### 2. 3개의 Series를 컬럼으로 가지는 DataFrame을 생성하라.
 - column의 이름은 각각
  - beds
  - baths
  - price_per_meter

### 3. 3개의 column을 합친 후, 1개의 column을 가진 DataFrame을 생성하라. (Series가 아닌 DataFrame)

### 4. 위에서 생성한 dataframe의 index는 0~99 가 3번 등장한다. 0~299로 변경하여라.